<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/date.css" type="text/css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/date.js"></script>
</head>
<body>
<div class="main-content">
    <div class="form-header clear">
        <h2>收款码回拨</h2>
    </div>
    <form id="searchForm" class="form-horizontal">
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">回拨单号：</label>
                <div class="controls">
                    <input type="text" class="control-text" name="id">
                </div>
            </div>
        </div>
        <div class="row clear start_end_code">
            <table class="table_input" cellpadding="0" cellspacing="0" style="">
                <tbody><tr>
                    <td width="200px" class="padding5">
                        <center>起始二维码</center>
                    </td>
                    <td width="100px" class="padding5">
                        <center>数量</center>
                    </td>
                    <td width="150px" class="padding5">
                        <center>截止二维码</center>
                    </td>
                </tr>
                <tr>
                    <td  class="padding10">
                        <input type="text" id="qrcodeStart" name="qrcodeStart" class="snstart" style="margin-left:120px;width:220px;">
                    </td>
                    <td class="padding10">
                        <input type="text" id="count" name="count" class="count" style="margin-left:15px;width:80px">
                    </td>
                    <td class="padding10">
                        <input type="text" id="qrcodeEnd" name="qrcodeEnd" class="snend" style="margin-left:15px;width:220px;">
                    </td>
                </tr>
                <tr>
                    <td class="padding5">
                        <center><font color="red">※不包含字母</font></center>
                    </td>
                    <td class="padding5">
                        <center><font color="red">※不能大于1000</font></center>
                    </td>
                    <td class="padding5">
                        <center><font color="red">※不包含字母</font></center>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row clear" style="margin-top: 20px;">
            <div class="input-center">
                <input  type="button" id="btnSearch" class="button" value="查询"/>
                <input type="reset" id="btnReset"  class="button_red" value="重置" />
            </div>
        </div>
    </form>
</div>
</body>
</html>