<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/date.css" type="text/css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/date.js"></script>
</head>
<body>
<div class="main-content">
    <div class="form-header clear">
        <h2>提现记录查询</h2>
    </div>
    <form id="searchForm" class="form-horizontal">
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">订单状态：</label>
                <div class="controls" >
                    <select name="status">
                        <option value=""></option>
                        <option value="">初始</option>
                        <option value="">付款中</option>
                        <option value="">成功</option>
                        <option value="">失败</option>
                        <option value="">待付款</option>
                    </select>
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label">结算模式：</label>
                <div class="controls" >
                    <select name="status">
                        <option value=""></option>
                        <option value="">人工提现</option>
                        <option value="">自动提现</option>
                    </select>
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label">提现时间：</label>
                <div class="controls">
                    <input type="text" class="datainp calendar inpstart width80" name="creationDate" placeholder="开始日期">
                    <span> - </span>
                    <input type="text"  class="datainp calendar endDate width80" name="endDate" placeholder="结束日期" >
                </div>
            </div>

        </div>
        <div class="row clear">
            <div class="input-center">
                <input  type="button" id="btnSearch" class="button" value="查询"/>
                <input type="reset" id="btnReset"  class="button_red" value="重置" />
            </div>
        </div>
    </form>
</div>

</body>
</html>
<script type="text/javascript">


    var start = {
        dateCell: '.inpstart',
        format: 'YYYY-MM-DD',
        minDate: '2014-06-16 23:59:59', //设定最小日期为当前日期
        festival:true,
        maxDate: '2099-06-16 23:59:59', //最大日期
        isTime: true,
        choosefun: function(datas){
            end.minDate = datas; //开始日选好后，重置结束日的最小日期
        }
    };
    var end = {
        dateCell: '.inpend',
        format: 'YYYY-MM-DD',
        minDate: jeDate.now(0), //设定最小日期为当前日期
        festival:true,
        maxDate: '2099-06-16 23:59:59', //最大日期
        isTime: true,
        choosefun: function(datas){
            start.maxDate = datas; //将结束日的初始值设定为开始日的最大日期
        },
        okfun:function(val){alert(val)}
    };
    jeDate(start);
    jeDate(end);

</script>
