<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="main-content">
    <div class="form-header clear">
        <h2>我的结算卡</h2>
    </div>
    <div class="form-horizontal">
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">编号：</label>
                <div class="controls">
                    <strong>46265742</strong>
                </div>
            </div>
        </div>
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">状态：</label>
                <div class="controls">
                    <strong>可用</strong>
                </div>
            </div>
        </div>
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">结算账户类型：</label>
                <div class="controls">
                    <strong>对私</strong>
                </div>
            </div>
        </div>
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">银行：</label>
                <div class="controls">
                    <strong>建设银行</strong>
                </div>
            </div>
        </div>
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">开户行：</label>
                <div class="controls">
                    <strong>武汉市苗粟路支行</strong>
                </div>
            </div>
        </div>
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">所属省市：</label>
                <div class="controls">
                    <strong>湖北省武汉市</strong>
                </div>
            </div>
        </div>
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">联行号：</label>
                <div class="controls">
                    <strong>105521000254</strong>
                </div>
            </div>
        </div>
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">银行账号：</label>
                <div class="controls">
                    <strong>621700 * 0432</strong>
                </div>
            </div>
        </div>
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">银行户名：</label>
                <div class="controls">
                    <strong>徐新明</strong>
                </div>
            </div>
        </div>
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">生效时间：</label>
                <div class="controls">
                    <strong>2016-11-22 14:42</strong>
                </div>
            </div>
        </div>
        <div class="row clear">
            <div class="control-group span8">
                <label class="control-label">失效时间：</label>
                <div class="controls">
                    <strong>2066-11-10 14:42</strong>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>